/*Default body text formatting*/
body {
    margin: 0;
    position: relative;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25em;
    text-align: left;
}

bckgrndimg, .bckgrndimg {
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 90%;
    height: auto;
}

/*Headings formats*/
h1, h2, .h1, .h2, h3, .h3 {
    margin-bottom: 0.5rem;
    font-family: inherit;
}

h1, .h1 {
    font-size: 2.5rem;
    font-weight:bold;
    text-align: center;
}

h2, .h2 {
    font-size: 2rem;
    text-align: center;
}

h3, .h3 {
    font-size: 1.75rem;
    text-align: center;
}

/* Default HTML settings */
html {
    font-family:sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

p, div.paragraph {
    line-height: 1.8em;
}
